examples/node-red-sample.json
[{"id":"6d1fb02.0dbe1d","type":"websocket in","z":"8441ec76.2a9ac8","name":"","server":"5bed251c.4b0314","client":"","x":120,"y":170,"wires":[["e287c0a3.9b6748","b40ffad4.66b33"]]},{"id":"d875d2f9.79e8c8","type":"function","z":"8441ec76.2a9ac8","name":"output連結","func":"var text;\nmsg.payload.output.text.forEach(function(value, index) {\n    ( index === 0) ? text = value : text += \"。\"+value;\n});\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":493,"y":170,"wires":[["7ef1bae0.83ade4","e182a063.3845a"]]},{"id":"89a7d687.5e82f","type":"inject","z":"8441ec76.2a9ac8","name":"実行","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":300,"wires":[["c5f9962e.ff059"]]},{"id":"c5f9962e.ff059","type":"function","z":"8441ec76.2a9ac8","name":"reset","func":"msg.params = {};\nmsg.params.context = {};\nmsg.payload = \"reset\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":240,"wires":[["e287c0a3.9b6748"]]},{"id":"7ef1bae0.83ade4","type":"websocket out","z":"8441ec76.2a9ac8","name":"","server":"5bed251c.4b0314","client":"","x":680,"y":170,"wires":[]},{"id":"e287c0a3.9b6748","type":"watson-conversation-v1","z":"8441ec76.2a9ac8","name":"WCS","workspaceid":"f32bd04f-c872-419b-a63e-8fcb5fd80e52","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":300,"y":170,"wires":[["d875d2f9.79e8c8"]]},{"id":"b40ffad4.66b33","type":"debug","z":"8441ec76.2a9ac8","name":"入力","active":true,"console":"false","complete":"payload","x":300,"y":110,"wires":[]},{"id":"e182a063.3845a","type":"debug","z":"8441ec76.2a9ac8","name":"出力","active":true,"console":"false","complete":"payload","x":660,"y":110,"wires":[]},{"id":"5bed251c.4b0314","type":"websocket-listener","z":"","path":"/ws/stt","wholemsg":"false"}]
