examples/node-red-sample.json
[{"id":"deb06787.57ce58","type":"watson-conversation-v1","z":"f3994119.9d7f08","name":"WCS","workspaceid":"b19db799-e701-4dfd-8ef3-3bc674d49f13","multiuser":false,"context":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":430,"y":100,"wires":[["62d9ee8b.198368"]]},{"id":"62d9ee8b.198368","type":"function","z":"f3994119.9d7f08","name":"OUT連結","func":"var text;\nmsg.payload.output.text.forEach(function(value, index) {\n    ( index === 0) ? text = value : text += \"。\"+value;\n});\nmsg.payload.output = text;\nmsg.headers = {\"Access-Control-Allow-Origin\": \"*\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["ac910449.2e2d2"]]},{"id":"15eaa536.1d872b","type":"function","z":"f3994119.9d7f08","name":"pre","func":"msg.payload = msg.payload.input;\nmsg.params = { \"context\": msg.req.body.context };\nif (msg.req.body.alternate_intents) {\n    msg.params.alternate_intents = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["deb06787.57ce58"]]},{"id":"ac910449.2e2d2","type":"http response","z":"f3994119.9d7f08","name":"","statusCode":"","headers":{},"x":750,"y":100,"wires":[]},{"id":"2ea74053.1fe468","type":"http in","z":"f3994119.9d7f08","name":"","url":"/conv","method":"post","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["15eaa536.1d872b"]]}]
